@model IEnumerable<SWProject1.Models.NewMission>

@{
    ViewBag.Title = "CategoryChosen";
}


<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Select A Mission", "Index", "Mission")</li>
    <li><a href="#">@ViewBag.Mission</a></li>
</ol>

<h2>@ViewBag.mission - FAQ</h2>

<img src="@ViewBag.image" style="height: 500px;" />

@foreach (var item in Model)
{
    <div class="faqHeader">General questions</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Who is the mission president?</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                The mission president is <strong>@Html.DisplayFor(modelItem => item.PresFirstName) @Html.DisplayFor(modelItem => item.PresLastName)</strong>.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Who is the mission president's wife?</a>
            </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
                The mission president's wife is Sister <strong>@Html.DisplayFor(modelItem => item.WifeFirstName) @Html.DisplayFor(modelItem => item.WifeLastName)</strong>.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What is the language spoken in this mission?</a>
            </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
                The language in this mission is <strong>@Html.DisplayFor(modelItem => item.Language)</strong>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What types of clothes should I bring?</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                Wear whatever you want as long as it is in the white handbook! Just remember it is a <strong>@Html.DisplayFor(modelItem => item.Climate)</strong> climate.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What church do people go to in this mission?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    The dominant religion is <strong>@Html.DisplayFor(modelItem => item.DominantReligion)</strong>.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Where should I send letters to?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    You can send them to the mission home at <strong>@Html.DisplayFor(modelItem => item.MissionHomeAddress)</strong>.
                </div>
            </div>
        </div>
    </div>
}

<script src="https://use.fontawesome.com/4917869511.js"></script>
